.App {
    text-align: center;
}

.blog-container{
    margin: 3% 0;
    width: 100%;
    clear: both;
}

.blog-container:after{
    content : '';
    display: table;
    clear: both;
}

.clear-float{
    clear: both;
}

.blog-header{
    height: 10%;
    text-align: center;
}

.blog-header:after{
    content : '';
    display: table;
    clear: both;
}

.blog-header-container-left{
    float: left;
    width: 40%;
}

.blog-header-container-middle{
    width: 30%;
    float: left;
}

.blog-header-container-middle span,input,img{
    vertical-align:middle;
}

.blog-header-container-middle input{
    font-size: 16px;
    width : 40%;
    /* border-radius: 10px; */
}

.blog-header-container-right{
    float: right;
    width: 30%;
}

.blog-header-container-right span{
    vertical-align:middle;
    display : inline-block;
    padding-left: 3px;
}

.blog-header-container-right img{
    visibility: hidden;
}

.header-icon{
    width:10%;
}

.blog-body-left{
    float: left;
    width: 30%;
    box-sizing: content-box;
    padding-left: 25%;
    margin-right : 5%;
}

.blog-body-right{
    float: left;
    width: 20%;
    box-sizing: content-box;
    padding-right: 20%;
}

.react-a{
    text-decoration: None;
    color : black;
}

.react-a:hover{
    text-decoration: underline;
    color : gray;
}

.kk{
    text-align: center;
}

.more-sign{
    position: relative;
}

/* .login-line{
    width: 20%;
    margin-left: auto; 
    margin-right: auto;
} */

.login-line:before{
    /* border-width: 20%; */
    
    content: "";
    border-top: 1px solid gray;
    display: block;
    width: 50%;
    position: absolute;
    top:8px;
    left:-10%;
}

.login-line:after{
    content: "";
    border-top: 1px solid gray;
    display: block;
    width: 50%;
    position: absolute;
    top:8px;
    right:-10%;
}

.login-bottom{
    text-align: center;
}

.login-bottom ul{
    list-style : none;
    padding: 0;
    margin-left: auto; 
    margin-right: auto;
    width: 20%;
}

.login-bottom ul:after{
    clear: both;
    content : '';
    display: table;
}

.login-bottom li{
    float : left;
    list-style : none;
    padding-left: 5px;
}


/* .editor-container{
    text-align: center;
} */

.text-editor{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

.login-frame{
    text-align: center;
}
.login-body{
    text-align: left;
    border : 1px solid #000;
    width: 20%; 
    margin-left: auto; 
    margin-right: auto;
    padding : 2%;
}


/* .login-bottom-container{
    text-align: center;
    border: 1px solid #000;
} */